* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url("pexels-photo-953214.jpeg");
  font: 1.8em Helvetica, Arial;
}

form {
  background: rgba(0, 0, 0, 0.13);
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
}

form #button {
  color: #FFF;
  background: rgb(11, 70, 159);
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(even) {
  background: rgb(238, 238, 238);
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */